<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2020 Alfred Dagenais <jesuis@alfreddagenais.com>
  ~ Use of this source code is governed by the GNU GPLv3 license, which
  ~ can be found in the LICENSE file.
  -->

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
>
    <testsuites>
        <testsuite name="Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
